

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
  font-family:  'Oswald', sans-serif;
  font-size: .5em;
  /* background-image: url('pics4site/background1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background: #BE9063;
}


.allofit{
  width:100%;
  height:100%
}

h1{


}

img{


}

.title{

}

.profilesize{
float:left;
display: inline-block;
margin-left: 50%;
}

.profile{
  width: 20%;
}



.aboutme {
  position: relative;
  float:right;
  width: 70%;
  font-size: 2em;
}

.allprojects{
  position: relative;
  text-align: center;
  width:60%;
}

.grouptwo{
  position: relative;
  align-items: center;
  /* width: 100%; */
  display: inline-grid;

  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  text-align: center;
  left: 4em;
}

.picsize{
  width:60em;
  text-align: center;
  align-items: center;
}

.siteinfo{
  position: relative;
  text-align: center;
  font-size: 2em;
}

.welcome{
  text-align: center;
  font-size: 10em;
}
h3{
  font-size: 5em;
}

.p{
  font-size: 2em;
}
